.blue {
    color: blue;
}

.red {
    color: red;
} 

.purpule {
    color: purple;
}


.orange {
    color: orange;
}

.green {
    color: green;
}
.my-class {
    color: red;
  }