@font-face {
    font-family: "mont";
    src: url("src/fonts/Mont-HeavyDEMO.otf") format("opentype");
  }
  
  @font-face {
      font-family: "mont-light";
      src: url("src/fonts/Mont-ExtraLightDEMO.otf") format("opentype");
  }

